<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AlphaMissense GRCh37/hg19 Database</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    </head>
<body>
    <div class="container">
        <h1 class="mt-5">AlphaMissense Search (GRCh37/hg19)</h1>
        <div class="small text-muted mt-2">
            Disclaimer: This tool is for research purposes only and has not been validated for clinical use.
            Developed by: George Doyle
        </div>
        <form method="POST">
            <div class="mb-3 mt-5">
                <input type="text" class="form-control" name="chromosome" required placeholder="Enter chromosome..."/>
                <input type="text" class="form-control mt-3" name="position" required placeholder="Enter position..."/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <form method="POST" action="/file-upload" enctype="multipart/form-data">
            <input type="file" name="file" accept=".txt">
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <hr>
        <hr>
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>#CHROM</th>
                    <th>POS</th>
                    <th>REF</th>
                    <th>ALT</th>
                    <th>Genome</th>
                    <th>Uniprot ID</th>
                    <th>Transcript ID</th>
                    <th>Protein Variant</th>
                    <th>Pathogenicity</th>
                    <th>Class</th>
                    <th>Gene</th>
                    <th>MAF</th>
                    <th>Phenotypes</th>
                    <th>Rsid</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                {% for row in data %}
                <tr>
                    {% for column in row %}
                    <td {% if loop.index == 10 %}{% if column == 'benign' %}style="background-color: green;"{% elif column == 'ambiguous' %}style="background-color: orange;"{% elif column == 'pathogenic' %}style="background-color: red;"{% endif %}{% endif %}>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}           
                {% endif %}
            </tbody>
        </table>
        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- DataTables JavaScript -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <!-- Initialize DataTables -->
        <script type="text/javascript">
            $(document).ready( function () {
                $('#myTable').DataTable();
            });
        </script>       
    </div>
</body>
</html>